@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding: 50px;
  font-family: Poppins;
  flex-wrap: wrap;
}

.header-image {
  height: 100vh;
  background-image: url("assets/4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 10vh;
}

.nav-bar {
  top: 0;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(207, 222, 235, 0.4);
}

.nav-bar img {
  align-self: start;
  margin: 1vw;
}

nav a {
  display: inline;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 14px 20px;
}

nav a:hover {
  color: #132531;
  cursor: pointer;
}

button {
  background-color: #17262f;
  color: white;
  padding: 10px 20px;
  border: 0px;
  border-radius: 10px;
}

.header-location {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px 50px;
  background-color: #17262fa2;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
}

.header-location a {
  color: white;
  font-size: 1.37em;
  position: relative;
  margin-left: 10px;
}

#text-prayer-times {
  font-size: 2.6em;
  color: #5886a1;
  font-family: Poppins;
}

#text-prayer-times::first-letter {
  font-size: 4em;
  color: #5886a1;
  font-family: Poppins;
}

#text-faizanearafat {
  font-size: 2.6em;
  color: #5886a1;
  font-family: Poppins;
}

#text-faizanearafat::first-letter {
  font-size: 4em;
  color: #5886a1;
  font-family: Poppins;
}

#text-contact-us {
  font-size: 2.6em;
  color: #5886a1;
  font-family: Poppins;
}

#text-contact-us::first-letter {
  font-size: 4em;
  color: #5886a1;
  font-family: Poppins;
}

.timings {
  background-image: url(assets/5.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 0 auto;
  width: 85%;
}
.grid-container {
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#timings-mosque-name {
  text-align: center;
  font-size: 2.6em;
  padding: 20px 5px;
  color: #053a5b;
}
.grid-item {
  font-size: 1em;
  color: white;
  text-align: center;
  border-radius: 10px;
}

hr {
  margin: 5px 0;
}

.grid-item-six,
.grid-item-ten,
.grid-item-eleven,
.grid-item-twelve,
.grid-item-thirteen,
.grid-item-forteen,
.grid-item-fifteen,
.grid-item-sixteen {
  background-color: #17262fb7;
  margin: 15px 25px;
  padding: 5px 5px;
}

.grid-item-seven {
  grid-column: 2 / span 3;
  text-align: center;
  font-size: 2.6em;
  margin-left: 50dp;
  padding: 20px 5px;
  color: #053a5b;
}

label {
  display: block;
  margin-top: 10px;
}

.contact-main {
  margin: 0 auto;
  width: 85%;
  align-items: flex-start;
  margin-bottom: 10vh;
}

.contact,
.contact-details {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.about-us {
  margin: 0 auto;
  width: 85%;
  align-items: flex-start;
  margin-bottom: 10vh;
}

.faizanearafat,
.about-us-table {
  width: 49%;
  display: inline-block;
}

.prayer-desc {
  margin: 0 auto;
  width: 85%;
  align-items: flex-start;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.prayer-times,
.prayer-table {
  width: 49%;
  display: inline-block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #17262f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main-about-us {
  width: 100%;
  background-image: url(assets/particles.jpg);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.about-us-div-one {
  min-width: 25vw;
  height: 70vh;
  margin: 2vw;
}

.about-us-div-two {
  min-width: 25vw;
  height: 70vh;
  margin: 2vw;
}

.about-list {
  min-width: 20vw;
}
ul {
  min-width: 20vw;
}
li {
  padding: 20px 0;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-item-blank,
  .grid-item-seven,
  .grid-item-two {
    grid-column: auto;
  }
}

@media screen and (max-width: 500px) {
  .prayer-times,
  .prayer-table {
    display: block;
    width: 100%;
    text-align: justify;
  }

  .faizanearafat,
  .about-us-table {
    display: block;
    width: 100%;
    text-align: justify;
  }

  .contact,
  .contact-details {
    display: block;
    width: 100%;
    text-align: justify;
  }
}
